/* Обнуление стилей */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,body {
  height: 100%;
  min-height: 100%;
  font-family: 'Montserrat R', sans-serif;
}

/* Шрифты */

@font-face {
  font-family: 'Montserrat T';
  src: url(./fonts/Montserrat-Thin.ttf);
}
@font-face {
  font-family: 'Montserrat L';
  src: url(/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: 'Montserrat R';
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat M';
  src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat SB';
  src: url(./fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: 'Montserrat B';
  src: url(./fonts/Montserrat-Bold.ttf);
}

/*Общие  Стили */

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.container-big {
  max-width: 1370px;
  margin: 0px auto;
}

.btn-bright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 53px;
  background: #998676;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-family: 'Montserrat B', sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: .3s;
}
.btn-bright:hover {
  transform: scale(1.1);
  transition: .3s;
}

.card, .card_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}
.card::after, .card_counter::after {
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  width: 70px;
  height: 1px;
  margin-top: 30px;
}
.card_counter::after {
  width: 30px;
  border: 2px solid #fff;
}

.card__icon {
  padding-bottom: 30px;
}
.card__icon-svg, .card_counter__icon-svg {
  height: 50px;
  width: 50px;
  fill: #666666;
}
.card_counter__icon-svg {
  fill: #c7b299;
}

.card__title {
  font-family: "Montserrat SB", sans-serif;
  font-size: calc(18px + 4 * ((100vw - 320px) / (1370 - 320)));
  text-align: center;
  color: #666666;
  padding-bottom: 15px;
  user-select: none;
}

.card_counter__title {
  font-family: "Montserrat T", sans-serif;
  font-size: 48px;
  line-height: 36px;
  color: #fff;
  padding-bottom: 20px;
  user-select: none;
}

.card__subtitle {
  font-family: "Montserrat L", sans-serif;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1370 - 320)));
  line-height: 24px;
  color: #999999;
  text-align: center;
  user-select: none;
}

.card_counter__subtitle {
  font-family: "Montserrat L", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #c7b299;
  text-align: center;
  user-select: none;
}


/* Основные стили */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.header {
  background-image: url(./images/slide-1.jpg);
  background-size: cover;
  background-position: center;
  transition: .3s;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.nav__logo {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.logo {
  max-width: 100%;
}
.logo__title {
  color: #fff;
  font-size: 34px;
}

@media (max-width: 426px) {
  .logo__title {
    display: none;
  }
}

.nav__control {
  display: flex;
  align-items: center;
}

.nav__links {
  font-family: 'Montserrat L', sans-serif;
  font-size: 14px;
}
.nav__links > a {  
  color: #fff;
  text-decoration: none;
  padding: 0px 30px 0px 0px;
}
.nav__links >a:last-child {
  padding: 0px 65px 0px 0px;
}
.nav__links > a:hover {
  color: #cc9999;
}

.nav__icons > img {
  padding: 0px 30px 0px 0px;
  cursor: pointer;
  transition: .3s;
}
.nav__icons > img:last-child {
  padding: 0px;
}
.nav__icons > img:hover {
  transform: scale(1.1);
  transition: .3s;
}

@media (max-width: 769px) {
  .nav__row {
    justify-content: space-around;
  }
  .nav__links {
    display: none;
  }
}

@media (max-width: 426px) {
  .nav__row {
    justify-content: center;
  }
  .nav__control {
    display: none;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 700px;
}

.slider__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.slider__title {
  font-family: 'Montserrat M', sans-serif;
  text-align: center;
  font-size: calc(18px + 18 * ((100vw - 320px) / (1370 - 320)));
}
.slider__title-big {
  font-family: 'Montserrat B', sans-serif;
  text-align: center;
  font-size: calc(32px + 20 * ((100vw - 320px) / (1370 - 320)));
  padding-bottom: 15px;
}
.slider__subtitle {
  font-family: 'Montserrat L', sans-serif;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1370 - 320)));
  line-height: 24px;
  max-width: 60%;
  text-align: center;
  padding-bottom: 50px;
}

@media (max-width: 426px) {
  .slider {
    min-height: 450px;
  }
  .slider__subtitle {
    max-width: 100%;
  }
  .slider__left_arrow, .slider__right_arrow {
    display: none;
  }
}

.slider__left_arrow, .slider__right_arrow {
  cursor: pointer;
  max-width: 100%;
}

.slider_control {
  text-align: center;
}

.slider_control__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.slider_control__list > li {
  float: left;
  margin: 7px;
  list-style: none;
  cursor: pointer;
  background-color: rgba(194, 194, 194, 0.4);
  padding: 5px;
  border-radius: 50%;
}
.slider_control__btn.active {
  border: 2px solid #998676;
  background-color: transparent;
}

.content {
  flex: 1 1 auto;
}

.features__row{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 80px 10px;
}
.card:last-child {
  padding-right: 0px;
}

@media (max-width: 426px) {
  .features__row {
    flex-direction: column;
  }
  .card {
    padding-bottom: 30px;
  }
  .card:last-child {
    padding-bottom: 0px;
  }
}

.realization {
  background-color: #fdfafa;
  padding-top: 100px;
}

.realization__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.realization__title {
  font-family: "Montserrat SB", sans-serif;
  font-size: calc(20px + 10 * ((100vw - 320px) / (1370 - 320)));
  text-align: center;
  color: #666666;
  padding-bottom: 30px;
  user-select: none;
}

.realization__subtitle {
  padding: 0px 10px 45px 0px;
  width: 70%;
  text-align: center;
  font-family: "Montserrat L", sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / (1370 - 320)));
  line-height: 28px;
  color: #999999;
  user-select: none;
}

@media (max-width: 426px) {
  .realization__subtitle {
    width: 100%;
  }
}

.realization__img > img {
  max-width: 100%;
}

.purchase {
  background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  transform: translateY(-5px);
}

.purchase__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0px;
}

@media (max-width: 426px) {
  .purchase__row {
    flex-direction: column;
  }
  .purchase__subtitle {
    padding: 10px 10px 30px 10px;
  }
}


.purchase__title {
  font-family: "Montserrat R", sans-serif;
  font-size: 28px;
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
}
.purchase__title > span {
  color: #c7b299;
}

.purchase__subtitle {
  font-family: "Montserrat L", sans-serif;
  font-size: calc(14px + 4 * ((100vw - 320px) / (1370 - 320)));
  text-align: center;
  color: #615855;
}

.projects {
  background-color: #fdfafa;
  padding: 85px 0px;
}

.projects__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__title {
  font-family: "Montserrat SB", sans-serif;
  font-size: calc(24px + 6 * ((100vw - 320px) / (1370 - 320)));
  text-align: center;
  color: #555555;
  padding-bottom: 15px;
}

.projects__subtitle {
  width: 70%;
  font-family: "Montserrat L", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #8c8c8c;
  padding-bottom: 45px;
}

@media (max-width: 426px) {
  .projects__subtitle {
    width: 100%;
    padding: 0px 10px 45px 10px;
  }
  .filter__btn {
    margin-top: 10px;
  }
}

.projects__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.filter__btn {
  max-width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 10px;
  font-family: "Montserrat L", sans-serif;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}
.filter__btn.active {
  background-color: #998675;
  color: #fff;
  border: 1px solid #998675;
}

.projects__galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 10px 50px 10px;
}

.galery_card {
  margin: 5px;
  background-color: #fbfaf8;
  transition: .3s;
}
.galery_card:hover {  background-color: #362f2d;  transition: .3s; }
.galery_card:hover .galery_card__text::after { border-bottom: 10px solid #362f2d; transition: .3s; }
.galery_card:hover .galery_card__title { color: #fff; transition: .3s; }
.galery_card:hover .galery_card__subtitle { color: #c7b299; transition: .3s; }

.galery_card__img > img {
  max-width: 100%;
  object-fit: cover;
}

.galery_card__text {
  background-color: transparent;
  position: relative;
}
.galery_card__text::after {
  content: '';
  position: absolute;
  top: -25px;
  left: 20px;
  border: 12.5px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  transition: .3s;
}

.galery_card__title {
  font-family: "Montserrat M", sans-serif;
  font-size: 20px;
  color: #c7b299;
  padding: 30px 0px 0px 20px;
  transition: .3s;
}

.galery_card__subtitle {
  font-family: "Montserrat L", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
  padding: 5px 0px 10px 20px;
  transition: .3s;
}

.video_presentation {
  background-image: url(./images/video-background.png);
  background-size: cover;
  background-position: center;
}

.video_presentation__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0px;
}

.video_presentation__icon {
  cursor: pointer;
}
.video_presentation__icon > img {
  max-width: 100%;
  object-fit: cover;
}

.video_presentation__title {
  padding-top: 30px;
  font-family: "Montserrat M", sans-serif;
  font-size: calc(22px + 8 * ((100vw - 320px) / (1370 - 320)));
  color: #fff;
  text-align: center;
}

.video_presentation__subtitle {
  width: 50%;
  padding-top: 20px;
  font-family: "Montserrat L", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  text-align: center;
}

.video_presentation__time {
  padding-top: 40px;
  font-family: "Montserrat R", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #c7b299;
}

@media (max-width: 426px) {
  .video_presentation__subtitle {
    width: 90%;
  }
}

.for_mobile {
  background-color: #fbfaf8;
}

.for_mobile__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.for_mobile__img {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.for_mobile__img > img {
  max-width: 100%;
  object-fit: cover;
}

.for_mobile__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.for_mobile__title {
  padding-bottom: 40px;
  font-family: "Montserrat SB", sans-serif;
  font-size: calc(24px + 6 * ((100vw - 320px) / (1370 - 320)));
  color: #555;
}

.for_mobile__subtitle {
  padding-bottom: 30px;
  font-family: "Montserrat L", sans-serif;
  font-size: calc(14px + 2 * ((100vw - 320px) / (1370 - 320)));
  line-height: 28px;
  color: #8c8c8c;
}

.for_mobile__list {
  padding-left: 50px;
}

.list__item {
  background: url(./images/list-icon.png) left no-repeat;
  list-style: none;
  padding-left: 40px;
  font-family: "Montserrat L", sans-serif;
  font-size: calc(10px + 6 * ((100vw - 320px) / (1370 - 320)));
  line-height: 32px;
  color: #8c8c8c;
}

@media (max-width: 769px) {
  .for_mobile__img {
    display: none;
  }
  .for_mobile__title, .for_mobile__subtitle {
    text-align: center;
  }
  .for_mobile__list {
    padding: 0px 0px 30px 0px;
  }
  .for_mobile__col  {
    width: 90%;
    align-items: center;
  }
}

.counts {
  background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}

.counts__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
}

@media (max-width: 426px) {
  .counts__row {
    flex-direction: column;
  }
  .card_counter {
    padding-bottom: 30px;
    padding-right: 0px;
  }
  .card:last-child {
    padding-bottom: 0px;
  }
}

.posts__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0px;
}

.posts__title {
  font-family: "Montserrat SB", sans-serif;
  font-size: 30px;
  color: #555;
  padding-bottom: 30px;
}

.posts__subtitle {
  font-family: "Montserrat L", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  width: 70%;
  padding-bottom: 45px;
}

.posts__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 10px 40px 10px;
}

.posts_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fbfaf8;
  margin-right: 15px;
  transition: .3s;
}
.posts_card:last-child {
  margin-right: 0px;
}

.posts_card__img > img {
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.posts_card__text {
  background-color: transparent;
  position: relative;
}
.posts_card__text::after {
  content: '';
  position: absolute;
  top: -25px;
  left: 20px;
  border: 12.5px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  transition: .3s;
}

.posts_card__title {
  font-family: "Montserrat M", sans-serif;
  font-size: 20px;
  color: #555;
  padding: 30px 0px 0px 20px;
  transition: .3s;
}

.posts_card__subtitle {
  font-family: "Montserrat L", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  padding: 5px 0px 20px 20px;
  transition: .3s;
}

.posts_card__btn {
  font-family: "Montserrat L", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #c7b299;
  padding: 0px 0px 10px 20px;
  cursor: pointer;
}

.posts_card__date {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts_card__top, .posts_card__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  background-color: #363636;
  font-family: "Montserrat L", sans-serif;
  font-size: 24px;
  line-height: 20px;
  padding: 7px;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
  transition: .3s;
}

.posts_card__bottom {
  height: 25px;
  background-color: #252525;
  font-family: "Montserrat R", sans-serif;
  font-size: 12px;
  border-radius: 0px 0px 5px 5px;
}

.posts_card:hover {  background-color: #362f2d;  transition: .3s; }
.posts_card:hover .posts_card__text::after { border-bottom: 10px solid #362f2d; transition: .3s; }
.posts_card:hover .posts_card__title { color: #c7b299; transition: .3s; }
.posts_card:hover .posts_card__subtitle { color: #fff; transition: .3s; }
.posts_card:hover .posts_card__top { background-color: #c7b299; transition: .3s; }
.posts_card:hover .posts_card__bottom { background-color: #a48d72; transition: .3s; }


@media (max-width: 426px) {
  .posts__row {
    flex-direction: column;
    margin: 0 auto;
    max-width: 85%;
  }
  .posts_card {
    margin-bottom: 30px;
  }
  .posts_card:last-child {
    margin-bottom: 0px;
  }
}

.partners {
  background-image: url(./images/background-partners.png);
  background-position: center;
  background-size: cover;
}

.partners__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 10px;
}

.partners__img {
  padding-right: 20px;
}
.partners__img:last-child {
  padding-right: 0px;
}
.partners__img > img {
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 426px) {
  .partners__row {
    flex-direction: column;
  }
  .partners__img {
    padding: 0px 0px 40px 0px;
  }
  .partners__img:last-child {
    padding: 0px;
  }
}

.information {
  background-color: #191919;
}

.information__row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 100px 0px;
}

.information__about_waxom, .information__posts, .information__dribbble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 1 25%;
  margin-right: 10px;
}
.information__dribbble {
  margin-right: 0px;
}

.information__about_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px;
  font-family: "Montserrat R", sans-serif;
  font-size: 34px;
  color: #fff;
}
.information__about_title > img {
  max-width: 100%;
  object-fit: cover;
}

.information__about_subtitle {
  font-family: "Montserrat L", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #555;
  padding-bottom: 35px;
}

.information__btn {
  font-family: "Montserrat R", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
}

.information__posts_title, .information__dribble_title {
  font-family: "Montserrat B", sans-serif;
  font-size: 24px;
  color: #fff;
  padding-bottom: 10px;
}

.information__posts_news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.information__posts_news:last-child > .information__news_text {
  border-bottom: 0;
}

.information__news_date {
  font-family: "Montserrat L", sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #363636;
  padding-top: 20px;
}

.information__news_text {
  font-family: "Montserrat L", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  padding-bottom: 25px;
  border-bottom: 1px solid #303030;
}

.information__dribbble_galery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.information__dribbble_galery > img {
  max-width: 100%;
  object-fit: cover;
  padding: 0px 10px 10px 0px;
}

@media (max-width: 1100px) {
  .information__posts {
    display: none;
  }
}

@media (max-width: 426px) {
  .information__dribbble {
    display: none;
  }
  .information__about_waxom {
    align-items: center;
    flex-basis: auto;
  }
  .information__about_title > img {
    display: none;
  }
  .information__about_subtitle {
    width: 90%;
    text-align: center;
  }
}

.made_by {
  background-color: #111;
}

.made_by__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0px;
}

.made_by__information, .made_by__links {
  font-family: "Montserrat L", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #555;
  cursor: pointer;
}
.made_by__information > span, .made_by__links > span {
  color: #c7b299;
}

@media (max-width: 426px) {
  .made_by__row {
    flex-direction: column;
  }
}